@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800&display=swap');

.background-container {
    background: url('./Assets/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1127px;
    height: 759px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 52px;
    height: 52px;
    border-radius: 68px;
    background: white;
    /* transition: background-image 0.2s ease-in-out; */
}

button:disabled {
    background: grey;
}

button:disabled:hover {
    cursor: default;
    background: grey;
}
button:disabled:hover>svg>path {
    stroke: #2B2727;
}

button:hover>svg>path {
    stroke: #FFF;
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(90deg, #D7AC38, #ED3334);
}

body {
    background: #0D54A4;
    padding-left: 86px;
    padding-top: 100px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans 3';
    color: white;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-x: visible;
}

.title {
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.company-name {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 3.2px;
}

.title-riel {
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
}

.list-cards {
    display: flex;
    gap: 36px;
    height: 335px;
    transition: transform 1s;
}

/* .list-cards.left {
    transform: translateX(516px);
}

.list-cards.right {
    transform: translateX(-516px);
} */

.cards {
    height: 335px;
    min-width: 480px;
    display: flex;
    justify-content: center;
    padding: 0px 31px;
    align-items: end;
    position: relative;
}

.background-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.background-img > img {
    height: 100%;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    z-index: 1;
    bottom: 34px;
}

.title-small {
    display: flex;
    gap: 10px;
    font-size: 15px;
    letter-spacing: 0.3px;
    align-items: center;
}

.dot {
    width: 6px;
    height: 6px;
}

.title-big {
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding-right: 86px;
    align-items: center;
}

.arrows {
    width: 24px;
    height: 24px;
}

.left-right {
    display: flex;
    gap: 8px;
}

.redirect-button {
    display: flex;
    padding: 10px 10px 10px 20px;
    gap: 12px;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 68px;
    background-image: linear-gradient(90deg, #D7AC38, #ED3334);
    opacity: 1;
}

.redirect-button > button {
    height: 40px;
    width: 40px;
}

.redirect-button:hover {
    background: white;
    cursor: pointer;
}

.redirect-button:hover > div {
    color: #ed6833;
}

.redirect-button:hover > button {
    background-image: linear-gradient(90deg, #D7AC38, #ED3334);
}

.redirect-button:hover > button > svg > path {
    stroke: white;
}